/* 
Copyright 2020
Xor Softworks LLC
*/

/* :root {
    --banner-color: #03396c;
    --bg-dark-color: #696969;
    --bg-dark-color: #011f4b;
    --bg-dark-header-color: #696969;
    --bg-light-color: #e4e4e4;
    --button-color1: #969696;
    --text-color1: #000000;
    --button-color-ready: #e4e4e4;
    --text-color-ready: #000000;
    --button-color-select: #b3cde0;
    --text-color-select: #000000;
    --admin-div-color: #011f4b;
    --admin-text-color: #ffffff;
    --text-box-color: #e4e4e4;
    --text-box-text: #000000;
    --img-width: 100%;
} */

:root {
    --banner-color: #000000;
    --bg-dark-color: #121212;
    --bg-dark-header-color: #696969;
    --bg-light-color: #e4e4e4;
    --button-color1: #0b2c5e;
    --text-color1: #ffffff;
    --button-color-ready: #e4e4e4;
    --text-color-ready: #000000;
    --button-color-select: #0b2c5e;
    --text-color-select: #ffffff;
    --button-color-unselect: #b3b3b3;
    --text-color-unselect: #000000;
    --admin-div-color: #7e7e7e;
    --admin-text-color: #ffffff;
    --text-box-color: #000000;
    --text-box-text: #ffffff;
    --welcome-text-color: #011f4b;
    --img-width: 100%;
}


* {
    box-sizing:border-box;
    /* border:1px solid black; */
}

body {
    background-color:#ffffff;
    font-family:sans-serif;
}

header {
    background-color:darkblue; 
    padding-top:25px;
    padding-bottom:25px;
}

.text-center {
    text-align:center;
}

main {
    padding:5px;
    max-width: 960px;
    margin: auto;
}

h2 {
    font-size:1.25em;
}

h2.red {
    color:red;
}

h2.white {
    color: var(--text-color1);
}

h2.label {
    font-size:1.25em;
    margin: 0px;
}

h2.label-b {
    color:#121212;
    font-size:1.25em;
    margin: 0px;
}

input.text {
    font-size:1.25em;
    border:2px solid #121212;
    width:95%;
    max-width:600px;
    display:block;
    margin:auto;
    margin-top:25px;
    background-color:#121212;
    color:var(--text-box-text);
    border-radius:25px;
    padding:10px;
    padding-left: 25px;
}

input.text2 {
    font-size:1.25em;
    border:2px solid black;
    width:95%;
    max-width:600px;
    display:block;
    margin:auto;
    margin-top:5px;
    background-color: var(--text-box-color);
    color:var(--text-box-text);
    border-radius:25px;
    padding:10px;
    padding-left: 25px;
}

button {
    font-size:1.5em;
    border:2px solid #121212;
    width:95%;
    max-width:600px;
    min-height: 60px;
    display:block;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    background-color: var(--button-color1);
    color:var(--text-color1);
    border-radius:25px;
    padding:10px;
}

button:focus, input:focus{
    outline: none;
}

button.name {
    font-size:1.5em;
    border:2px solid #121212;
    width:100%;
    max-width:600px;
    min-height: 60px;
    display:block;
    margin:auto;
    margin-top:5px;
    margin-bottom:5px;
    background-color: #696969;
    color:white;
    border-radius:25px;
    padding:10px;
}

button.small-text {
    font-size:1em;
    border:2px solid #121212;
    width:95%;
    max-width:600px;
    min-height: 60px;
    display:block;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    background-color:var(--button-color1);
    color:var(--primary-text-color);
    border-radius:25px;
    padding:10px;
}

button.small-text-selected {
    font-size:1em;
    border:2px solid #121212;
    width:95%;
    max-width:600px;
    min-height: 60px;
    display:block;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    background-color:var(--button-color-select);
    color:var(--text-color-select);
    border-radius:25px;
    padding:10px;
}

button.not-ready {
    background-color:#e4e4e4;
    color:white;
    display:none;
}

button.ready {
    background-color:var(--button-color-ready);
    color:var(--text-color-ready);
}

button.selected {
    background-color:var(--button-color-select);
    color:var(--text-color-select);
}

button.unselected {
    background-color:var(--button-color-unselect);
    color:var(--text-color-unselect);
}

.bg-dark {
    background-color: var(--bg-dark-color);
    color: white;
}

.bg-dark-float-on {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 0px;
    padding: 5px;
    background-color: var(--bg-dark-color);
    color: white;
}

.bg-dark-float-off {
    position: static;
    padding: 5px;
    background-color: var(--bg-dark-header-color);
    color: white;
}

.bg-dark-header {
    position: static;
    padding: 5px;
    background-color: var(--bg-dark-header-color);
    color: white;
}

.bg-light {
    background-color: var(--bg-light-color);
    color: var(--welcome-text-color);
}

.button-like {
    border:2px solid #121212;
    width:98%;
    display:block;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    background-color:var(--button-color1);
    color:var(--text-color1);
    border-radius:25px;
    padding:10px;
}

.admin {
    border:2px solid #121212;
    width:98%;
    display:block;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    background-color:var(--admin-div-color);
    color:var(--admin-text-color);
    border-radius:25px;
    padding:10px;
}

.logo {
    width:300px;
    max-width:75%;
    margin:auto;
}

img {
    width:var(--img-width);
}

#social-icons {
    max-width:300px;
    min-height: 75px;
    margin:auto;
    padding:10px;
}

i {
    padding:10px;
}

/*Added for temp usage*/
/* The side navigation menu */
.sidenav-closed {
    text-align:center;
    height: 0px;
    width: 0%; /* 0 width - change this with JavaScript */
    position: static; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 55; /* Stay at the top */
    left: 10;
    background-color: #e4e4e4; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    color:white;
    margin:0px;
}

.sidenav-open {
    text-align:center;
    width: 100%; /* 0 width - change this with JavaScript */
    position: static; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 55; /* Stay at the top */
    left: 10;
    background-color: #e4e4e4; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    border:2px solid #121212;
    margin-top:25px;
    color:white;
    border-radius:25px;
    padding:10px;
}

/* The navigation menu links */
.sidenav-open a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.sidenav-closed a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #414040;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}



/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}